.\33 d-section {
    height: 100vh;
}

/* Définir le titre comme conteneur flex */
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pour espacement égal entre les éléments */
    height: 100%; /* Pour occuper toute la hauteur de la section parente */
}

/* Positionner la première image collée en haut du viewport */
.titre-whopper-intro {
    align-self: flex-start;
    align-self: center;
}

/* Positionner la deuxième image collée en bas du viewport */
.titre-whopper-best {
    align-self: flex-end;
    align-self: center;
}