:root {
    --primary-color: #FF8731;
    --dark-primary-color: #512314;
    --light-primary-color: #F4EBDC;
    --text-icons-color: #F4EBDC;
    --primary-text-color: #F4EBDC;
    --spacing-unit: 8px;
    --border-radius: 4px;
    --transition-speed: 0.3s;

    --primary-font: "bd-supper", sans-serif;
    --primary-weight: 400;
    --primary-style: normal;

    --second-font: "Madimi One", sans-serif;
    --second-weight: 400;
    --second-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    line-height: 1.5;
    /* padding: 16px 20px; */
    margin: auto;
    overflow: hidden scroll;
    cursor: url('../img/custom.svg'), auto;
}

header,
footer,
main {
    padding: var(--spacing-unit);
}

a,
button {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--light-primary-color);
    padding: var(--spacing-unit);
    border: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed);
}

a:hover,
button:hover {
    background-color: var(--dark-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: var(--spacing-unit);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    pointer-events: none;
    -webkit-touch-callout: none;
}


#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    /* z-index: -100; */
    top: 0;
    left: 0;
}


section.\33 d-section{
height: 100vh;
}

section.best_seller-section{
    height: 200vh;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;

}

div.datas-best-selling-menu{
    height: 100vh;
}

section.best_seller-section img{
    display:flex;
    flex-direction: column;
    height: auto;
    width: 10vw;
    margin-top : 20px
}

h1.percentage-whopper
{
    font-size: 20vw;
    text-align: center;
}

h1.percentage-whopper span
{
    font-size: 5vw;
    position: absolute; 
    top: 227vh;
}

div .hand-whopper{
    width: 25vw;
    position:absolute;
    left: 75vw;
}

img.whopper-face{
    height: 50vh;
}









.hidden-bar {
    display: none;
}

