:root {
    --primary-color: #FF8731;
    --dark-primary-color: #512314;
    --light-primary-color: #F4EBDC;
    --text-icons-color: #F4EBDC;
    --primary-text-color: #F4EBDC;
    --spacing-unit: 8px;
    --border-radius: 4px;
    --transition-speed: 0.3s;

    --primary-font: "bd-supper", sans-serif;
    --primary-weight: 400;
    --primary-style: normal;

    --second-font: "Madimi One", sans-serif;
    --second-weight: 400;
    --second-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    line-height: 1.5;
    /* padding: 16px 20px; */
    margin: auto;
    overflow: hidden scroll;
    cursor: url('../img/custom.svg'), auto;
}

header,
footer,
main {
    padding: var(--spacing-unit);
}

a,
button {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--light-primary-color);
    padding: var(--spacing-unit);
    border: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed);
}

a:hover,
button:hover {
    background-color: var(--dark-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: var(--spacing-unit);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    pointer-events: none;
    -webkit-touch-callout: none;
}

section {
    margin-bottom: 20vh;

}

#part2-best-seller {
    height: 100vh;
    margin-bottom: 500px;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    /* z-index: -100; */
    top: 0;
    left: 0;
}

/* Section 3D */

section.\33 d-section {
    height: 100vh;
}

/* Best seller section viewport */

section.best_seller-section {
    height: 200vh;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1;

}

.label {
    font-size: 4vw;
    fill: var(--light-primary-color);
}

.food-name {
    font-size: 30px;
    font-family: var(--second-font);
    fill: var(--light-primary-color);
}

div.datas-best-selling-menu {
    height: 100vh;
}

section.best_seller-section img {
    display: flex;
    flex-direction: column;
}

.line-chart-svg {
    position: absolute;
    overflow: visible;
}

h1.percentage-whopper {
    font-size: 20vw;
    text-align: center;
    position: absolute;
    left: 75vh;
    top: 215vh;
}

img.whopper-face {
    top: 223vh;
    height: 70vh;
    position: absolute;
    left: 55vh;
}

h1.percentage {
    font-size: 5vw;
    position: absolute;
    top: 217vh;
    left: 130vh;
}

h1.whopper-descriptif {
    font-size: 7vw;
    text-align: center;
    position: absolute;
    text-align: center;
    top: 290vh;
    left: 50vh;
}

h1.impact-sales {
    font-size: 30px;
}

/* Troisième Viewport - Style - Ingrédients  */
@keyframes slideInFromRight {
    from {
        left: 100%;
    }

    to {
        left: 68%;
    }
}

.titre-ingredients {
    font-size: 10rem;
    margin-bottom: 30px;
}

.ingredients-list svg {
    position: relative;
    right: 25%;
}

.total-kcal {
    position: relative;
}

.total-kcal img {
    position: absolute;
    width: 35vw;
    bottom: 138px;
    right: -2%;
}

.total-nbr {
    position: absolute;
    width: 50vw;
    padding: 40px 50px;
    color: var(--dark-primary-color);
    background-color: var(--primary-text-color);
    text-align: left;
    right: -2%;
    bottom: 165px;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.calories-total span {
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark-primary-color);
}

.total-nbr * {
    margin: 0 !important;
}

.titre-total {
    font-size: 2rem;
}

.calories-total {
    font-size: 3rem;
}

.ingredients-section {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 10px;
    background: var(--primary-text-color);
    color: var(--dark-primary-color);
    border-radius: 15px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tooltip strong {
    display: block;
    font-size: 22px;
    margin-bottom: 3px;
}

.tooltip span {
    font-size: 14px;
}

.hidden-bar {
    display: none;
}

/* Quatrième ViewPort - Style - Nombre de burgers vendus par jour */

.burgers_per_day-section {
    display: flex;
    justify-content: center;
}

.countries_population-section h1{
    display: flex;
    justify-content: center;
}

/*  Cinquième ViewPort - Style - Dashboard--------------------------------------------------------  */
.dashboard-section {
    background: #F8ECD1;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.dashboard-section h2 {
    background: var(--dark-primary-color);
    color: var(--primary-text-color);
    font-size: 300%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.datas-prepared_whopper,
.datas-timer {
    width: calc(70% - 20px);
    padding: 20px;
}

.data-block {
    background: var(--light-primary-color);
    color: var(--dark-primary-color);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px);
    flex-grow: 2;
}

.number,
.time {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
}

.congratulations-guys {
    margin-top: 100px;
    text-align: center;
}